.container{
    width: 98%;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 6px;
    width: 350px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 16px;
    text-align: center;

    background-color: rgb(41, 41, 41);
}

h3{
    color: white;
}
p{
    font-weight: 400;
    font-size: 14px;
}